{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> {% block titulo %} {% endblock %} </title>
</head>
<body>
    <header>   
        <a href="/">
            <img id="logo" src="static\images\logo_idea.png" alt="logo do site">
            <p> CoderStart </p>
        </a>
        <nav>
            <a href="ferramentas">Ferramentas</a>
            <a href="cursos">Cursos</a>
            <a href="fale_conosco">Fale Conosco</a>
        </nav>
    </header>
    
    {% block conteudo %} 
    
    {% endblock %} 

    <footer>
        <div id="redesSociais">
                <div class="redeSocial">
                    <a href="https://www.twitter.com"><img src="static\images\twitter.png" alt="Twitter"></a>
                </div>
                <div class="redeSocial">
                    <a href="https://www.fb.com"><img src="static\images\facebook.png" alt="Facebook"></a>
                </div>
                <div class="redeSocial">
                    <a href="https://www.linkedin.com"><img src="static\images\linkedin.png" alt="LinkedIn"><a>
                </div>
        </div>
        <p>Desenvolvido por EstaçãoHack©. Todos os direitos reservados.</p>
    </footer>
</body>
</html>