{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> {% block titulo %} {% endblock %} </title>
</head>
<body>
    <header>
                <p>NOME DO SITE</p>
                <nav>
                    <a href="">Início</a>
                    <a href="">Ferramentas</a>
                    <a href="">Plataformas</a>
                    <a href="">Cursos</a>
                    <a href="">Cadastro</a>
                </nav>
            
    </header>
    
    {% block conteudo %} 
    
    {% endblock %} 
</body>
</html>