{% extends "base.html" %}


{% block titulo %}
CoderStart - Cursos
{% endblock %}


{% block conteudo %}

<div class="titCur">
    <h1>Cursos de Programação</h1>
</div>



<section class="presencialCur">
    <h2>Cursos Presenciais</h2>
    <div>
        <img src="\static\images\estaçãohack.png" alt=" Estação Hack">
        <p>Estação Hack é um projeto do Facebook criado para aumentar o ecossistema econômico e tecnológico no Brasil,
            ensinando programação a jovens, esperando aumentar o número de profissionais capacitados em tecnologia.</p>
        <h4>Parceiros e Cursos</h4>

        <div>
            <img class="imgCur"
                src="\static\images\macode.png"
                alt=" MadCode: Desenvolviemento de aplicativos ">
            <h5>MadCode: Desenvolviemento de aplicativos</h5>
            <p>O curso ensina os preceitos básicos e, por isso, é voltado para quem ainda não teve contato com
                programação e desenvolvimento de aplicativos para equipamentos móveis.</p>
            <p>Carga horária: 35 horas (segundas, terças e quintas-feiras).</p>
            <p>Público-alvo: alunos de 14 a 17 anos.</p>
            <p><a href="http://madcode.com.br/estacao-hack/" target="_blank">Informações e inscrições</a></p>
        </div>

        <div>
            <img class="mastrCur" class="imgCur"
                src="\static\images\master.png"
                alt=" MasterTech: Estação de Programação">
            <h5> MasterTech: Estação de Programação </h5>
            <p>Trabalha conteúdos de design thinking, introdução a programação e introdução a IONIC. O curso é voltado
                para quem nunca teve contato com o assunto.</p>
            <p>Carga horária: 20 horas (sábados e domingos).</p>
            <p>Público-alvo: jovens de 16 a 25 anos.</p>
            <p><a href="https://mastertech.com.br/EstacaoHack" target="_blank">Informações e inscrições</a></p>
        </div>

        <div>
            <h5>MasterTech: Academia de Programação</h5>
            <p>Oferece uma formação generalista em programação voltada para oportunidades profissionais. Serão
                trabalhados conteúdos de "front end", "back end" e programação de aplicativos.</p>
            <p>Carga horária: 120 horas (4 semanas).</p>
            <p>Público-alvo: alunos que tenham concluído com sucesso o curso Estação de Programação.</p>
            <p><a href="https://mastertech.com.br/EstacaoHack" target="_blank">Informações e inscrições.</a></p>
        </div>

        <div>
            <img class="imgCur"
                    src="\static\images\re.png"
                    alt="{reprograma}">
            <h5>{reprograma}: BOOTCAMP GRATUITO - Front-end</h5>
            <p>Aprenda linguagens de programação front-end e ferramentas de capacitação que irão ajudar você a construir
                uma base sólida na área de tecnologia.</p>
            <p>Duração: seg a sex, de 9h às 17h, durante 18 semanas.</p>
            <p>Público alvo: Mulheres cis e trans, que não estão trabalhando no momento.</p>
            <p><a href="https://reprograma.com.br/integral.html" target="_blank">Informações e inscrições.</a></p>
        </div>

        <div>
            <h5>{reprograma} : BOOTCAMP GRATUITO - Back-end</h5>
            <p>Aprenda a estruturar uma aplicação web, fazendo a gestão e armazenamento de dados. O curso acontecerá na
                Estação Hack, com patrocínio da Accenture Brasil, empresa presente em mais de 120 países.</p>
            <p>Duração: seg a sex, de 19h às 22h30, durante 14 semanas.<p>
                    <p>Público alvo: Mulheres cis e trans, que não estão trabalhando no momento.</p>
                    <p><a href="https://reprograma.com.br/back-end.html" target="_blank">Informações e inscrições.</a></p>
        </div>

        <div>
            <h5>Endereço</h5>
            <p>Av. Paulista, 1374 – Bela Vista, São Paulo.</p>
        </div>
    </div>

    <div>
        <img class="imgCur" src="\static\images\pro.png"
                alt="RECODE Pro"> 
        <h5> RECODE Pro</h5>
        <p>Ao longo de uma formação única que alia habilidades digitais e técnicas da carreira de desenvolvedor full
            stack, você também irá desenvolver capacidades essenciais para o mundo do trabalho, como comunicação,
            colaboração criatividade e resolução de problemas. Ainda estão previstas experiências imersivas com mentores
            para que você conheça de perto o dia a dia do mercado de trabalho em TI.</p>
        <p>Duração : 14h às 18h, entre 16 de setembro de 2019 e 31 de janeiro de 2020 na Fatec Osasco em São Paulo e no
            Centro Universitário Celso Lisboa no Centro do Rio.</p>
        <p>Público alvo: jovens entre 18 e 29 anos que buscam oportunidades reais na área de tecnologia.</p>
        <p><a href="https://recode.org.br/pro/#popup-recode-pro" target="_blank">Incrições e informações.</a></p>
    </div>

    <div>
        <img class="imgCur" src="\static\images\iron.jpeg"
                alt="IronHack">
        <h5>IronHack</h5>
        <p>Torne-se um Desenvolvedor Web Full-Stack. Aprenda os fundamentos de HTML5, CSS3, JavaScript, Angular 2,
            TypeScript, Express, MongoDB e Testing com metodologias ágeis.Os cursos são oferecidos em duas modalidades:
        </p>
        <p>Vire um UX/UI Designer. Aprenda design centrado no usuário aplicando o processo de Design Thinking e valide
            suas ideias através de pesquisas, protótipos, testes de usuário e avaliações heurística. Aprenda UI e IxD
            para prototipar suas soluções usando técnicas de design visual e interativo.</p>
        <p>Vire um analista de dados completo. Aprenda a filtrar e explorar uma grande variedade de conjuntos de dados.
            Aprofunde-se em trabalhos sérios de dados usando Pandas para transformar seus dados visualmente atrativos
            para fazer um story-telling convincente.</p>
        <p>Local: Campus Ironhack São Paulo - Alameda Jaú, 1301 - Jardim Paulista - 01420-001 - São Paulo (Brasil).</p>
        <p><a href=" https://www.ironhack.com/br" target="_blank">Infromações sobre os cursos</a></p>
    </div>

    <div>
        <img class="imgCur"
                src="\static\images\42.png"
                alt="École 42">
        <h5>École 42</h5>
        <p>O currículo abrange linguagens fundamentais de programação, começando com C. Os conteúdos são: programação
            imperativa/funcional e orientada a objetos - algoritmos, inteligência artificial, gráficos, integração
            tecnológica, programação do sistema, rede e administrador do sistema, segurança e vírus, dados e base de
            dados e computação paralela.</p>
        <p>Existem mais de 100 projetos disponíveis, abordando diferentes caminhos de especialização em ciência da
            computação.</p>
        <p><a href="https://www.42sp.org.br/" target="_blank">Informações sobre os cursos.</a></p>
    </div>

    </div>
</section>

<section class="onCur">
    <h2>Cursos Online</h2>

    <div>
        <img class="imgCur" src="\static\images\re.png" alt=" {reprograma} ">
        <h3>{reprograma}</h3>
        <h4>BOOTCAMP ONLINE GRATUITO </h4>
        <p> O conteúdo do bootcamp presencial, agora em formato online para atender todo o Brasil. No conteúdo contamos
            com HTML, CSS, logica de programação, JavaScript, bibliotecas e orientação profissional.</p>
        <p>Púbico alvo: Mulheres cis e trans com ensino médio completo.</p>
        <p><a href="https://reprograma.com.br/online.html" target="_blank">Informações e inscrições.</a></p>
    </div>

    <div>
        <img class="imgCur" src="\static\images\BR.png" alt="Brasil Mais TI">
        <h3>Brasil Mais TI</h3>
        <p>A iniciativa Brasil Mais TI visa oferecer cursos capacitantes online ligados à tecnologia da informação.
            Trata-se de um projeto ligado aos Ministérios da Educação e da Ciência, Tecnologia, Inovações e
            Comunicações, que oferece mais de 35 diferentes disciplinas de introdução à TI, programação, desenvolvimento
            de competências e conteúdos gamificados.</p>
        <p>Cada curso tem duração média de 20 horas - ao todo, a plataforma conta com mais de 800 horas de cursos.</p>
        <p><a href="http://www.brasilmaisti.com.br/index.php/pt-br/cursos-online/2017-05-23-17-40-54" target="_blank">Maiores
                informações.</a></p>
    </div>

    <div>
        <img class="imgCur" src="\static\images\tim.png" alt="TIM Tec">
        <h3>TIM Tec</h3>
        <p>A operadora TIM conta com uma plataforma online chamada TIM Tec, que reúne diversos cursos gratuitos com foco
            em games, lógica de programação, tecnologia da informação, entre outros temas profissionalizantes.</p>
        <p><a href="https://cursos.timtec.com.br/" target="_blank">Maiores informações.</a></p>
    </div>
</section>

{% endblock %}