{% extends "base.html" %}


{% block titulo %}
    CoderStart - Cursos
{% endblock %}


{% block conteudo %}

<h1>Cursos de Programação</h1>

<h2>Cursos Presenciais</h2>

    <h3>Estação Hack</h3>
            <p>Estação Hack é um projeto do Facebook criado para aumentar o ecossistema econômico e tecnológico no Brasil, ensinando programação a jovens, esperando aumentar o número de profissionais capacitados em tecnologia.</p>
        <h4>Parceiros e Cursos</h4>
        <h5> MadCode: Desenvolviemento de aplicativos </h5>
            <p>O curso ensina os preceitos básicos e, por isso, é voltado para quem ainda não teve contato com programação e desenvolvimento de aplicativos para equipamentos móveis.</p>
            <p>Carga horária: 35 horas (segundas, terças e quintas-feiras)</p>
            <p>Público-alvo: alunos de 14 a 17 anos</p>
            <p>Informações e inscrições: http://madcode.com.br/estacao-hack/</p>
        <h5> MasterTech: Estação de Programação <h5>
            <p>Trabalha conteúdos de design thinking, introdução a programação e introdução a IONIC. O curso é voltado para quem nunca teve contato com o assunto.</p>
            <p>Carga horária: 20 horas (sábados e domingos)</p>
            <p>Público-alvo: jovens de 16 a 25 anos</p>
            <p>Informações e inscrições: https://mastertech.com.br/EstacaoHack</p>
        <h5> MasterTech: Academia de Programação </h5>
            <p>Oferece uma formação generalista em programação voltada para oportunidades profissionais. Serão trabalhados conteúdos de "front end", "back end" e programação de aplicativos.</p>
            <p>Carga horária: 120 horas (4 semanas)</p>
            <p>Público-alvo: alunos que tenham concluído com sucesso o curso Estação de Programação</p>
            <p>Informações e inscrições: https://mastertech.com.br/EstacaoHack</p>
        <h5> {reprograma}: BOOTCAMP GRATUITO - Front-end</h5>
            <p>Aprenda linguagens de programação front-end e ferramentas de capacitação que irão ajudar você a construir uma base sólida na área de tecnologia.</p>
            <p>Duração: seg a sex, de 9h às 17h, durante 18 semanas.</p>
            <p>Público alvo: Mulheres cis e trans, que não estão trabalhando no momento</p>
            <p>Informações e inscrições: https://reprograma.com.br/integral.html</p>
        <h5> {reprograma} : BOOTCAMP GRATUITO - Back-end </h5>
            <p>Aprenda a estruturar uma aplicação web, fazendo a gestão e armazenamento de dados. O curso acontecerá na Estação Hack, com patrocínio da Accenture Brasil, empresa global presente em mais de 120 países.</p>
            <p>Duração: seg a sex, de 19h às 22h30, durante 14 semanas.<p>
            <p>Público alvo: Mulheres cis e trans, que não estão trabalhando no momento</p>
            <p>Informações e inscrições: https://reprograma.com.br/back-end.html</p>
        <h5>Endereço</h5>
            <p>Av. Paulista, 1374 – Bela Vista, São Paulo.</p>

<h2>Cursos Online</h2>


{% endblock %}
