{% extends "base.html"%}


{% block titulo %}
    CoderStart - Ferramentas
{% endblock %}


{% block conteudo %}

<section class="allFerra">
    <div class="vscFerra">
        <h2>Visual Studio Code</h2>

        <p>Desenvolvido pela Microsoft em 2015, é um editor de código fonte para Windows, Linux e MacOS. Para iniciantes é muito indicado por ajudar com apontamento de erros, customização de temas e realce de tags.</p>
        <p> Suporta inúmeras linguagens de programação, como C++, Java, PowerShell, Python, Ruby, Rust, SQL, entre outras, fornecendo juntamente complementação inteligente de código como CSS, HTML, JavaScript, JSON, Less, Sass, TypeScrip. É possivel também ser extendido por plugins disponíveis através do repositório central. Por incluir o suporte git facilita na hora de guardar seus projetos em repositórios.</p>
        <p>De uma forma mais prática e direta: </p>
        <p>“Em sua essência, o Visual Studio Code possui um editor de código fonte super rápido, perfeito para o uso no dia-a-dia. Com suporte para centenas de idiomas, o VS Code ajuda você a ser instantaneamente produtivo com realce de sintaxe, correspondência de colchetes, recuo automático, seleção de caixa, snippets e muito mais. Atalhos de teclado intuitivos, fácil personalização e mapeamentos de atalhos de teclado contribuídos pela comunidade permitem que você navegue pelo seu código com facilidade.” - Site Oficial</p>
    </div>

    <div class="htmlFerra">
        <h2>HTML</h2>

        <p>O acrônimo HTML tem origem na lingua inglesa, sendo equivalente a Hypertext Markup Language, ou em português Linguagem de Marcação de Hipertexto. </p>
        <p>É uma das linguagens usada para desenvolver web sites e facilita o entendimento tanto humano quanto da máquina, o que facilita a sua interpretação e desenvolvimento.</p> 
        <p>Funciona com o sistema de tags de marcação na qual cada uma dessas tem uma diferente função e garante se a página as exibirá ou não. </p>
    </div>
    
    <div class="cssFerra">
        <h2>CSS</h2>

        <p>CSS é a sigla em inglês que indica o termo Cascading Style Sheets que, traduzido para o português, significa Folha de Estilo em Cascatas. </p>
        <p>Utilizado para estilizar textos, separar conteúdo e dar todas as formas desejadas aos elementos da página também podendo criar tabelas ajustar imagens e alterar todo o layout da página.</p> 
    </div>
    
    <div class="scriptFerra">
        <h2>JavaScript</h2>
    
            <p>JavaScript, ou JS, é uma linguagem de programação de alto nível e dinâmica. Utilizado em conjunto com o HTML e o CSS, permite interatividade nas paginas Web. Foi originalmente implementada como parte dos navegadores web para que scripts pudessem ser executados do lado do cliente e interagissem com o usuário sem a necessidade deste script passar pelo servidor. </p>
            <p>É uma linguagem multiparadigma, suportando estilos orientados a eventos, funcionais e imperativos, também incluindo a orientação à objetos.</p>
        <h3>Tipos de dados</h3>
            <p>Em seus tipos de dados têm-se Boolean (True e False), Null – nulo, Undefined – indefinido, Number – números, String – textos, Object – objetos, entre outros.</p>

        <h3>Objetos</h3>
            <p>Objetos podem ser interpretados como uma coleção de propriedades. Um conjunto de propriedades podem assumir valores de qualquer tipo, incluindo outros objetos, o que permite estruturas de dados mais complexas.</p>
        <h3>Maiores informações</h3>
            <p><a href="https://www.javascript.com/" target="_blank">Site oficial da linguagem</a></p> 
            <p><a href="https://braziljs.org/" target="_blank">Site oficial da comunidade brasileira</a></p> 
    </div>

    <div class="pyFerra">
        <h2>Python</h2>

            <p>Python é uma linguagem de programação de alto nível que permite fácil leitura em poucas linhas, o que a diferencia das demais linguagens. Como é uma linguagem para fácil leitura e com visual agradável a separação de blocos de código é feitas por indentação. </p>
            <p> Por ser multiparadigma pode ser orientada a objetos, imperativo, funcional e procedural. Tem uma biblioteca padrão que contém classes, métodos e funções para realizar todas tarefas, indo de acesso a bancos de dados a interfaces gráficas com o usuário.</p>
        <h3>Contruções</h3>
            <p>As construções de Python incluem: estrutura de seleção (if, else, elif); estrutura de repetição (for, while), construção de classes (class); construção de sub-rotinas (def); construção de escopo (with). </p>
            <h3>Tipos de dados</h3>
            <p> seus tipos de dados têm-se Str (string) -  que são os textos, List – lista heterogenia mutável, Tuple – tupla imutável, Int - números inteiros, Float – números quebrados, Bool – booleano (True e False), entre outros. </p>
        <h3>Módulos e frameworks</h3>
            <p>Ao longo do tempo têm sido desenvolvidos pela comunidade de programadores muitas bibliotecas de funções especializadas (módulos) que permitem expandir as capacidades base da linguagem como o django, por exemplo.</p>
        <h3>Maiores informações</h3>
            <p><a href="http://www.python.org/" target="_blank">Site oficial da linguagem</a></p>
            <p><a href="http://www.pythonbrasil.com.br" target="_blank">Site oficial da comunidade brasileira</a></p>
    </div>

    <div class="djFerra">
        <h2>Django</h2>

            <p>Django é um framework para rápido desenvolvimento web escrito em Python, seu padrão é o model-template-view (MTV) e permite que o desenvolvedor reutilize a maior parte do código já feito, evitando repetições.</p>
        <h3>Padrão MTV</h3>
            <p>Model: onde acontece toda a interação com o banco de dados.</p>
            <p>Template: renderização dos dados, ou seja, interação do usuário com o site.</p>
            <p>iew: as regras de negócios e sistema Django.</p>
        <h3>Principais Caracteristicas</h3>
            <p>Com o Django é possível gerar tabelas no banco de dados e manipula-las através de classes em Pythom, criar interfaces administrativas, formulários, URLs amigáveis de maneira simples, sistema de separação de design, conteúdo e códigos, sistema de cache e suporte para aplicações multi-idiomas.</p>
        <h3>Por que usar Django?</h3>
            <p>Você pode se concentrar em escrever seu código enquanto o Django se encarrega do desenvolvimento da Web, cuidando da autenticação do usuário, administração de conteúdo e mapas do site, por exemplo.</p>
        <h3>Maiores informações</h3>
            <p><a href="https://www.djangoproject.com/" target="_blank">Django Project</a></p>    
            <p><a href="http://www.djangobrasil.org/" target="_blank">Django Brasil</a></p>
    </div>
</section>

{% endblock %}