{% extends "base.html"%}


{% block titulo %}
    HOME
{% endblock %}


{% block conteudo %}

<section>
    <div>
        <h2>Visual Studio Code</h2>

        <p>Desenvolvido pela Microsoft em 2015, é um editor de código fonte para Windows, Linux e MacOS. Para iniciantes é muito indicado por ajudar com apontamento de erros, customização de temas e realce de tags.</p>
        <p> Suporta inúmeras linguagens de programação, como C++, Java, PowerShell, Python, Ruby, Rust, SQL, entre outras, fornecendo juntamente complementação inteligente de código como CSS, HTML, JavaScript, JSON, Less, Sass, TypeScrip. É possivel também ser extendido por plugins disponíveis através do repositório central. Por incluir o suporte git facilita na hora de guardar seus projetos em repositórios.</p>
        <p>De uma forma mais prática e direta: </p>
        <p>“Em sua essência, o Visual Studio Code possui um editor de código fonte super rápido, perfeito para o uso no dia-a-dia. Com suporte para centenas de idiomas, o VS Code ajuda você a ser instantaneamente produtivo com realce de sintaxe, correspondência de colchetes, recuo automático, seleção de caixa, snippets e muito mais. Atalhos de teclado intuitivos, fácil personalização e mapeamentos de atalhos de teclado contribuídos pela comunidade permitem que você navegue pelo seu código com facilidade.” - Site Oficial</p>
    </div>

    <div>
        <h2>HTML</h2>

        <p>O acrônimo HTML tem origem na lingua inglesa, sendo equivalente a Hypertext Markup Language, ou em português Linguagem de Marcação de Hipertexto. </p>
        <p>É uma das linguagens usada para desenvolver web sites e facilita o entendimento tanto humano quanto da máquina, o que facilita a sua interpretação e desenvolvimento.</p> 
        <p>Funciona com o sistema de tags de marcação na qual cada uma dessas tem uma diferente função e garante se a página as exibirá ou não. </p>
    </div>
    
    <div>
        <h2>CSS</h2>

        <p>CSS é a sigla em inglês que indica o termo Cascading Style Sheets que, traduzido para o português, significa Folha de Estilo em Cascatas. </p>
         <p>Utilizado para estilizar textos, separar conteúdo e dar todas as formas desejadas aos elementos da página também podendo criar tabelas ajustar imagens e alterar todo o layout da página.</p> 
    </div>
    
    <div>
        <h2>JavaScript</h2>
    
        <p>O JavaScript é utilizado para manipular o HTML e o CSS que permite implementar funcionalidades mais complexas em páginas web, possibilitando exibir em tempo real conteúdos atualizados, mapas interativos, animações gráficas em 2D/3D,vídeos, ou qualquer recursos visuais mais elaborados e com movimentos ou condições específicas para seu funcionamento.</p>
    </div>

    <div>
        <h2>Python</h2>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ab saepe temporibus dolorem eligendi vero voluptatum quam ipsa, sapiente at maxime corporis maiores pariatur asperiores vel fugiat non debitis quibusdam.lorem Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe ut ullam, animi minus unde vitae iusto ipsum porro architecto repellendus corporis vel. Quisquam omnis sint rerum in ratione dolore!</p>
    </div>

    <div>
        <h2>Django</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat minus possimus neque quisquam, aut animi quidem itaque! Laborum illum, voluptas non mollitia nesciunt dignissimos ipsam voluptates commodi, ab architecto molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatum aliquam odio nesciunt sapiente iusto veritatis quam qui facilis est a quos id, dignissimos minus, blanditiis nihil, delectus nobis repellat.</p>
    </div>
</section>

{% endblock %}