{% extends "base.html" %}


{% block titulo %}
    CoderStart - Início
{% endblock %}


{% block conteudo %}

<section class="imgHome">
    <img src="static\images\Learn_banner.png" alt="livros de programação">  <!-- a imagem tá indo quebrada, não consegui consertar :( -->
</section>

<div class=" blocTextHome">
    
<div >
<h1>A CoderStar</h1>

<p>
    A CoderStart foi criado pensando nas pessoas que não sabe por onde começa nesse mundo de programação web.
</p>
<p>
    Nós da CoderStart apoiamos ferramentas como o Visual Studio Code, por acreditarmos que elas tornam seu aprendizado cada vez mais eficaz, e pensando nisso tambem temos uma lista de cursos para te motivar e te trazendo cada vez mais proximo da area de programação web.
</p>
</div>

<div >
<H2> Sobre nós </H2>
<p>
    Esse projeto foi criado por três gatoras que nunca tiveram contato com programação Web, até fazerem parte do fim de semana e da academia de programação da Mastertech from Facebook. </p>
    <p>
    Com base em nossas dificuldade no decorrer da aprendizagem criaram o CoderStart, com o Objetivo de que o CodeStart se torne a melhor opção para quem estava começando, assim como elas, e buscando cursos e ferramentas na area.</p>
    <p>
    Conforme essas goratas vão aprendendo, elas aprimoram o CoderStart.</p>
</div>

</div>
{% endblock %}

<!-- Páginas:
*INICIAL *
 Contem resumo da ideia do site, banners e novidades.

*PLATAFORMAS ONLINE *
Apresenta plataformas online que ajudam a começar a programar e entender sobre os fundamentos de lógica e de programação. 

CURSOS PRESENCIAIS
Cursos presenciais desenvolvidos pela Estação Hack e suas parceiras, entre outras que também ofereçam cursos.
Mastertech 
ReCode 
Reprograma 

FERRAMENTAS
Resumo sobre as principais ferramentas que podem ser utilizadas para desenvolvimento da programação, como por exemplo VS, HTML, CSS, JavaScript, Python, Django, entre outras. 

* CADASTRO
Cadastro na plataforma para enviar dúvidas* -->