{% extends "base.html" %}


{% block titulo %}
    CoderStart - Início
{% endblock %}


{% block conteudo %}

<section>
    <img src="static\images\Learn_banner.png" alt="livros de programação">  <!-- a imagem tá indo quebrada, não consegui consertar :( -->
</section>



{% endblock %}

<!-- Páginas:
*INICIAL *
 Contem resumo da ideia do site, banners e novidades.

*PLATAFORMAS ONLINE *
Apresenta plataformas online que ajudam a começar a programar e entender sobre os fundamentos de lógica e de programação. 

CURSOS PRESENCIAIS
Cursos presenciais desenvolvidos pela Estação Hack e suas parceiras, entre outras que também ofereçam cursos.
Mastertech 
ReCode 
Reprograma 

FERRAMENTAS
Resumo sobre as principais ferramentas que podem ser utilizadas para desenvolvimento da programação, como por exemplo VS, HTML, CSS, JavaScript, Python, Django, entre outras. 

* CADASTRO
Cadastro na plataforma para enviar dúvidas* -->