{% extends "base.html" %}


{% block titulo %}
    CoderStart - Início
{% endblock %}


{% block conteudo %}

<section class="imgHome">
    <img src="static\images\Learn_banner.png" alt="livros de programação">  <!-- a imagem tá indo quebrada, não consegui consertar :( -->
</section>

<div class=" blocTextHome">
    
<div>
<h1>A CoderStart</h1>

<p>
    A CoderStart foi criada pensando nas pessoas que não sabem por onde começar no vasto mundo da Programação Web.
</p>
<p>
    Pensando nisso, falamos de ferramentas como o Visual Studio Code que tornam seu aprendizado cada vez mais eficaz, visto que é um programa capaz de abranger diversas linguagens de programação, gratuito e também de fácil instalação. Da mesma forma, também criamos uma lista de cursos presenciais disponíveis na cidade de São Paulo, para te motivar e te trazer cada vez mais próximo(a) da área de Programação Web.
</p>
</div>

<div >
<H2> Sobre nós </H2>
<p>
    Esse projeto foi criado por três garotas que nunca tiveram contato com programação até fazerem parte do FDS da Programação e da Academia de Programação, projeto do Facebook em parceria com a Mastertech. </p>
    <p>
    Com base em nossas dificuldade no decorrer da aprendizagem, criamos a CoderStart, com o objetivo de que esse projeto se torne uma boa opção para quem estava começando, assim como nós, e buscando cursos e ferramentas na área.</p>
    <p>
    Conforme vamos aprendendo e descobrindo mais cursos e métodos, iremos aprimorar a CoderStart, buscando criar uma comunidade de futuros devs que se ajudam!</p>
</div>

</div>
{% endblock %}