body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body::-webkit-scrollbar{
    width: 0;
}

header{
    background-color: black;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#logo{
    height: 30px;
    width: 30px;
    margin-right: 1vh;
}

header a p{
    color: rgb(233, 204, 41);
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}   

header nav{
    margin-right: 10px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header nav a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
}

section div{
    padding: 10px;
}
section div h2{
    font-family: 'Roboto Slab', serif;
}

section div p{
    font-family: 'Noto Sans', sans-serif;
}

footer{
    background-color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#redesSociais{
    height: 8vh;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.redeSocial{
    background-color: rgb(181, 176, 176);
    border-radius: 24px;
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redeSocial:hover{
    background-color: rgb(233, 204, 41);
    opacity: 1.0;
}  

.redeSocial a{

}
.redeSocial a img{
    height: 20px;
    width: 20px;
}